<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<!--스프링 부트는 기본적으로 src/main/resources/static 에 위치한 정적 파일들은 URL 에서 / 로 설정됨-->
<script src="/js/app/index.js"></script>
</body>
</html>